.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.img-square-wrapper {
    height: 20%;
    width: 15%;
}

.img-size {
    height: 100%;
    width: 100%;
}

.img-responsive {
    height: 200px;
}